* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #E9D8A6;
}


#jumbotron {
  background-color: #9B2226;
  text-align: center;
  color: #E9D8A6;
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#chloropleth {
  background: #0A9396;
  color: #001219;
}

#state {
  background: #EE9B00;
  color: #001219;
}

#line {
  background: #CA6702;
  color: #001219;
}

#bubble {
  background: #94D2BD;
  color: #001219;
}

#activities {
  background: #BB3E03;
  color: #001219;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 50px;
  background: #BB3E03;
  color: #001219;
  text-align: center;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}