<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exploring National Parks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- Jumbotron -->
      <div id="jumbotron" class="col-md-12">
        <h1>Exploring National Parks</h1>
      </div>

    </div>

    <!-- second row-->
    <div class="row">
    
      <!-- chloropleth -->
      <div id="chloropleth" class="col-md-8">
        <p>chloropleth</p>
      </div>
      <!-- State Map -->
      <div id="state" class="col-md-4">
        <p>State Map</p>
      </div>

    </div>

     <!-- third row-->
     <div class="row">

      <!-- Line Chart -->
      <div id="line" class="col-md-4">
        <p>line graph</p>
        <p>visitor count by year</p>
      </div>

      <!-- Bubble Chart -->
      <div id="bubble" class="col-md-4">
        <p>Bubble Chart</p>
        <p>Trail Info</p>
      </div>

      <!-- Amenities/activities -->
      <div id="activities" class="col-md-4">
        <p>graphic TBD</p>
        <p>Amenities and Activities</p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 footer">
        <p>footer: our names</p>
      </div>
    </div>
  </div>


  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->
  <!-- <script src="samples.json"></script> -->
  
</body>

</html>
